{
  "openapi": "3.1.0",
  "info": {
    "title": "Exactamente API",
    "description": "Recursos universitarios de Exactas: parciales, resúmenes y finales.\n\nEste documento se genera desde los schemas Zod del backend, así que no\npuede desincronizarse de la validación. Los clientes (web, panel admin y\nservidor MCP) generan sus tipos desde acá.\n\n**Paginación:** `page` (default 1) y `limit` (default 20, máx 100).\nExcepción: `GET /careers` devuelve `{ data: [...] }` sin paginar.\n\n**Auth:** las rutas protegidas piden `Authorization: Bearer <jwt>`.\nLas de `/admin/*` requieren rol `admin` o `superadmin`.",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://github.com/exactamente-ar/exactamente-backend"
    }
  },
  "servers": [
    {
      "url": "https://api.exactamente.com.ar/api/v1",
      "description": "Producción"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "bearer",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "University": {
        "id": "University",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "description": "Nombre corto, ej: \"UNICEN\"",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "slug": {
            "description": "Auto-generado desde name, único",
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "id",
          "name",
          "shortName",
          "slug",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "Faculty": {
        "id": "Faculty",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "universityId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "description": "Ej: \"FACET\"",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "slug": {
            "description": "Único dentro de su universidad",
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "id",
          "universityId",
          "name",
          "shortName",
          "slug",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "Career": {
        "id": "Career",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "facultyId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "slug": {
            "description": "Único dentro de su facultad",
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "id",
          "facultyId",
          "name",
          "shortName",
          "slug",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "CareerPlan": {
        "id": "CareerPlan",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "careerId": {
            "type": "string"
          },
          "name": {
            "description": "Ej: \"Plan 2023\"",
            "type": "string"
          },
          "year": {
            "description": "Año del plan",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "id",
          "careerId",
          "name",
          "year",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "Subject": {
        "id": "Subject",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "facultyId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "description": "Se regenera si cambia el title",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "urlMoodle": {
            "description": "Puede ser cadena vacía, nunca null",
            "type": "string"
          },
          "urlPrograma": {
            "description": "Puede ser cadena vacía, nunca null",
            "type": "string"
          },
          "year": {
            "description": "Año de cursada en el plan",
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "quadmester": {
            "description": "1 o 2",
            "type": "integer",
            "minimum": 1,
            "maximum": 2
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "id",
          "facultyId",
          "title",
          "slug",
          "description",
          "urlMoodle",
          "urlPrograma",
          "year",
          "quadmester",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "SubjectCareer": {
        "id": "SubjectCareer",
        "type": "object",
        "properties": {
          "careerId": {
            "type": "string"
          },
          "careerName": {
            "type": "string"
          },
          "facultyId": {
            "type": "string"
          },
          "facultyName": {
            "type": "string"
          },
          "universityId": {
            "type": "string"
          },
          "universityName": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "year": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "quadmester": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "careerId",
          "careerName",
          "facultyId",
          "facultyName",
          "universityId",
          "universityName",
          "planId",
          "year",
          "quadmester"
        ],
        "additionalProperties": false
      },
      "ResourceCounts": {
        "id": "ResourceCounts",
        "type": "object",
        "properties": {
          "resumen": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "parcial": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "final": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "resumen",
          "parcial",
          "final"
        ],
        "additionalProperties": false
      },
      "SubjectWithCareers": {
        "id": "SubjectWithCareers",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "facultyId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "description": "Se regenera si cambia el title",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "urlMoodle": {
            "description": "Puede ser cadena vacía, nunca null",
            "type": "string"
          },
          "urlPrograma": {
            "description": "Puede ser cadena vacía, nunca null",
            "type": "string"
          },
          "year": {
            "description": "Año de cursada en el plan",
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "quadmester": {
            "description": "1 o 2",
            "type": "integer",
            "minimum": 1,
            "maximum": 2
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "careers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubjectCareer"
            }
          },
          "resourceCounts": {
            "$ref": "#/components/schemas/ResourceCounts"
          }
        },
        "required": [
          "id",
          "facultyId",
          "title",
          "slug",
          "description",
          "urlMoodle",
          "urlPrograma",
          "year",
          "quadmester",
          "createdAt",
          "updatedAt",
          "careers",
          "resourceCounts"
        ],
        "additionalProperties": false
      },
      "SubjectDetail": {
        "id": "SubjectDetail",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "facultyId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "description": "Se regenera si cambia el title",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "urlMoodle": {
            "description": "Puede ser cadena vacía, nunca null",
            "type": "string"
          },
          "urlPrograma": {
            "description": "Puede ser cadena vacía, nunca null",
            "type": "string"
          },
          "year": {
            "description": "Año de cursada en el plan",
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "quadmester": {
            "description": "1 o 2",
            "type": "integer",
            "minimum": 1,
            "maximum": 2
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "careers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubjectCareer"
            }
          }
        },
        "required": [
          "id",
          "facultyId",
          "title",
          "slug",
          "description",
          "urlMoodle",
          "urlPrograma",
          "year",
          "quadmester",
          "createdAt",
          "updatedAt",
          "careers"
        ],
        "additionalProperties": false
      },
      "AdminSubject": {
        "id": "AdminSubject",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "facultyId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "description": "Se regenera si cambia el title",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "urlMoodle": {
            "description": "Puede ser cadena vacía, nunca null",
            "type": "string"
          },
          "urlPrograma": {
            "description": "Puede ser cadena vacía, nunca null",
            "type": "string"
          },
          "year": {
            "description": "Año de cursada en el plan",
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "quadmester": {
            "description": "1 o 2",
            "type": "integer",
            "minimum": 1,
            "maximum": 2
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "resourceCount": {
            "description": "Recursos en estado published",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "id",
          "facultyId",
          "title",
          "slug",
          "description",
          "urlMoodle",
          "urlPrograma",
          "year",
          "quadmester",
          "createdAt",
          "updatedAt",
          "resourceCount"
        ],
        "additionalProperties": false
      },
      "CareerPlanSubject": {
        "id": "CareerPlanSubject",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "facultyId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "urlMoodle": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "urlPrograma": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "year": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "quadmester": {
            "type": "integer",
            "minimum": 1,
            "maximum": 2
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "resourceCount": {
            "description": "Recursos en estado published",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "id",
          "facultyId",
          "title",
          "description",
          "urlMoodle",
          "urlPrograma",
          "year",
          "quadmester",
          "createdAt",
          "resourceCount"
        ],
        "additionalProperties": false
      },
      "ResourceType": {
        "id": "ResourceType",
        "type": "string",
        "enum": [
          "resumen",
          "parcial",
          "final"
        ]
      },
      "ResourceSubtype": {
        "id": "ResourceSubtype",
        "type": "string",
        "enum": [
          "parcial",
          "recuperatorio",
          "prefinal",
          "parcialito"
        ]
      },
      "ResourceStatus": {
        "id": "ResourceStatus",
        "type": "string",
        "enum": [
          "pending",
          "published",
          "rejected"
        ]
      },
      "Resource": {
        "id": "Resource",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "title": {
            "description": "Para resúmenes lo pone el usuario; para parcial/final se auto-genera",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ResourceType"
          },
          "subtype": {
            "description": "Solo para type=parcial",
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResourceSubtype"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "$ref": "#/components/schemas/ResourceStatus"
          },
          "examYear": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "examMonth": {
            "description": "1–12",
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "examDay": {
            "description": "1–31; requerido para type=final",
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "topic": {
            "description": "Tema, 1–5",
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "downloadCount": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "publishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "fileUrl": {
            "description": "URL pública ya resuelta. No construir URLs a mano; null si no está publicado",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "subjectId",
          "title",
          "type",
          "subtype",
          "status",
          "examYear",
          "examMonth",
          "examDay",
          "topic",
          "notes",
          "downloadCount",
          "publishedAt",
          "createdAt",
          "fileUrl"
        ],
        "additionalProperties": false
      },
      "AdminResource": {
        "id": "AdminResource",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "title": {
            "description": "Para resúmenes lo pone el usuario; para parcial/final se auto-genera",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ResourceType"
          },
          "subtype": {
            "description": "Solo para type=parcial",
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResourceSubtype"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "$ref": "#/components/schemas/ResourceStatus"
          },
          "examYear": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "examMonth": {
            "description": "1–12",
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "examDay": {
            "description": "1–31; requerido para type=final",
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "topic": {
            "description": "Tema, 1–5",
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "downloadCount": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "publishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "fileUrl": {
            "description": "URL pública ya resuelta. No construir URLs a mano; null si no está publicado",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "subjectTitle": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "careerName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "planName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "planYear": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "uploadedBy": {
            "description": "ID del usuario que lo subió",
            "type": "string"
          },
          "reviewedBy": {
            "description": "ID del admin que lo moderó",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "rejectionReason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "id",
          "subjectId",
          "title",
          "type",
          "subtype",
          "status",
          "examYear",
          "examMonth",
          "examDay",
          "topic",
          "notes",
          "downloadCount",
          "publishedAt",
          "createdAt",
          "fileUrl",
          "subjectTitle",
          "careerName",
          "planName",
          "planYear",
          "uploadedBy",
          "reviewedBy",
          "rejectionReason",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "DuplicateSimilar": {
        "id": "DuplicateSimilar",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ResourceStatus"
          }
        },
        "required": [
          "id",
          "title",
          "status"
        ],
        "additionalProperties": false
      },
      "BlogSubtopic": {
        "id": "BlogSubtopic",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "isDefault"
        ],
        "additionalProperties": false
      },
      "BlogPost": {
        "id": "BlogPost",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subtopicId": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "authority": {
            "type": "string",
            "enum": [
              "visible",
              "anonymous"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "published",
              "deleted"
            ]
          },
          "netScore": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "author": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BlogAuthor"
              },
              {
                "type": "null"
              }
            ]
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlogPostImage"
            }
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlogComment"
            }
          },
          "mine": {
            "description": "true si el token actual es el autor",
            "type": "boolean"
          },
          "myVote": {
            "description": "voto del token actual: 1, -1 o 0",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "id",
          "subtopicId",
          "body",
          "authority",
          "status",
          "netScore",
          "createdAt",
          "author",
          "images",
          "comments",
          "mine",
          "myVote"
        ],
        "additionalProperties": false
      },
      "BlogAuthor": {
        "id": "BlogAuthor",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "BlogPostImage": {
        "id": "BlogPostImage",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "url"
        ],
        "additionalProperties": false
      },
      "BlogResponse": {
        "id": "BlogResponse",
        "type": "object",
        "properties": {
          "subjectId": {
            "type": "string"
          },
          "subtopics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlogSubtopic"
            }
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlogPost"
            }
          }
        },
        "required": [
          "subjectId",
          "subtopics",
          "posts"
        ],
        "additionalProperties": false
      },
      "BlogVoteResponse": {
        "id": "BlogVoteResponse",
        "type": "object",
        "properties": {
          "netScore": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "myVote": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "netScore",
          "myVote"
        ],
        "additionalProperties": false
      },
      "BlogComment": {
        "id": "BlogComment",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "postId": {
            "type": "string"
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "body": {
            "type": "string"
          },
          "authority": {
            "type": "string",
            "enum": [
              "visible",
              "anonymous"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "published",
              "deleted"
            ]
          },
          "netScore": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "depth": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "author": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BlogAuthor"
              },
              {
                "type": "null"
              }
            ]
          },
          "mine": {
            "description": "true si el token actual es el autor",
            "type": "boolean"
          },
          "myVote": {
            "description": "voto del token actual: 1, -1 o 0",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "id",
          "postId",
          "parentId",
          "body",
          "authority",
          "status",
          "netScore",
          "depth",
          "createdAt",
          "author",
          "mine",
          "myVote"
        ],
        "additionalProperties": false
      },
      "BlogActivityItem": {
        "id": "BlogActivityItem",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "post",
              "comment"
            ]
          },
          "subjectId": {
            "type": "string"
          },
          "subjectTitle": {
            "type": "string"
          },
          "postId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "body": {
            "type": "string"
          },
          "authority": {
            "type": "string",
            "enum": [
              "visible",
              "anonymous"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "published",
              "deleted"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "author": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BlogAuthor"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "subjectId",
          "subjectTitle",
          "postId",
          "body",
          "authority",
          "status",
          "createdAt",
          "author"
        ],
        "additionalProperties": false
      },
      "BlogActivityResponse": {
        "id": "BlogActivityResponse",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlogActivityItem"
            }
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      },
      "BlogSubtopicList": {
        "id": "BlogSubtopicList",
        "type": "object",
        "properties": {
          "subtopics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlogSubtopic"
            }
          }
        },
        "required": [
          "subtopics"
        ],
        "additionalProperties": false
      },
      "UserRole": {
        "id": "UserRole",
        "type": "string",
        "enum": [
          "superadmin",
          "admin",
          "user"
        ]
      },
      "PublicUser": {
        "id": "PublicUser",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
          },
          "displayName": {
            "type": "string"
          },
          "photoUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "role": {
            "description": "Los registros nuevos siempre son user",
            "$ref": "#/components/schemas/UserRole"
          },
          "emailVerified": {
            "description": "Existe en DB pero hoy ningún flujo de producto lo usa",
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "id",
          "email",
          "displayName",
          "photoUrl",
          "role",
          "emailVerified",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "AdminStats": {
        "id": "AdminStats",
        "type": "object",
        "properties": {
          "resources": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "byStatus": {
                "type": "object",
                "properties": {
                  "pending": {
                    "description": "Recursos esperando moderación",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "published": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "rejected": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                },
                "required": [
                  "pending",
                  "published",
                  "rejected"
                ],
                "additionalProperties": false
              },
              "byType": {
                "type": "object",
                "properties": {
                  "resumen": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "parcial": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "final": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                },
                "required": [
                  "resumen",
                  "parcial",
                  "final"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "total",
              "byStatus",
              "byType"
            ],
            "additionalProperties": false
          },
          "coverage": {
            "type": "object",
            "properties": {
              "subjectsWithResources": {
                "description": "Materias con ≥1 recurso publicado — solo cuenta published",
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "subjectsWithoutResources": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "subjectsWithResources",
              "subjectsWithoutResources"
            ],
            "additionalProperties": false
          },
          "counts": {
            "type": "object",
            "properties": {
              "users": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "subjects": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "careers": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "faculties": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "universities": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "users",
              "subjects",
              "careers",
              "faculties",
              "universities"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "resources",
          "coverage",
          "counts"
        ],
        "additionalProperties": false
      },
      "StatsGranularity": {
        "id": "StatsGranularity",
        "type": "string",
        "enum": [
          "day",
          "week"
        ]
      },
      "ActivityPoint": {
        "id": "ActivityPoint",
        "type": "object",
        "properties": {
          "date": {
            "description": "Inicio del bucket, YYYY-MM-DD, en America/Argentina/Buenos_Aires",
            "type": "string"
          },
          "uploads": {
            "description": "Recursos creados en el bucket (created_at)",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "publications": {
            "description": "Recursos publicados en el bucket (published_at)",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "date",
          "uploads",
          "publications"
        ],
        "additionalProperties": false
      },
      "AdminActivity": {
        "id": "AdminActivity",
        "type": "object",
        "properties": {
          "granularity": {
            "$ref": "#/components/schemas/StatsGranularity"
          },
          "from": {
            "description": "Primer bucket, YYYY-MM-DD",
            "type": "string"
          },
          "to": {
            "description": "Último bucket, YYYY-MM-DD",
            "type": "string"
          },
          "points": {
            "description": "Serie sin huecos: los buckets sin actividad vienen en 0, no ausentes",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityPoint"
            }
          }
        },
        "required": [
          "granularity",
          "from",
          "to",
          "points"
        ],
        "additionalProperties": false
      },
      "TopUploader": {
        "id": "TopUploader",
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "total": {
            "description": "Recursos subidos en la ventana, en cualquier estado",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "published": {
            "description": "De esos, cuántos terminaron publicados",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "userId",
          "displayName",
          "total",
          "published"
        ],
        "additionalProperties": false
      },
      "TopResource": {
        "id": "TopResource",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "subjectTitle": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "$ref": "#/components/schemas/ResourceType"
          },
          "downloadCount": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "id",
          "title",
          "subjectTitle",
          "type",
          "downloadCount"
        ],
        "additionalProperties": false
      },
      "AdminRankings": {
        "id": "AdminRankings",
        "type": "object",
        "properties": {
          "days": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "topUploaders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopUploader"
            }
          },
          "topResources": {
            "description": "Histórico completo. `download_count` es un escalar sin fecha, así que `days` NO aplica acá",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopResource"
            }
          }
        },
        "required": [
          "days",
          "topUploaders",
          "topResources"
        ],
        "additionalProperties": false
      },
      "ModerationLeadTime": {
        "description": "Horas entre que un recurso se sube y se publica. Con `sample: 0` los tres percentiles son null y no 0: \"no hubo datos\" y \"tardó cero\" no son lo mismo",
        "id": "ModerationLeadTime",
        "type": "object",
        "properties": {
          "sample": {
            "description": "Recursos publicados en la ventana",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "avgHours": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "p50Hours": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "p90Hours": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "sample",
          "avgHours",
          "p50Hours",
          "p90Hours"
        ],
        "additionalProperties": false
      },
      "PendingQueueAge": {
        "description": "Antigüedad de la cola de moderación. No depende de `days`: es el estado actual",
        "id": "PendingQueueAge",
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "under24h": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "d1to3": {
            "description": "Entre 1 y 3 días",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "d3to7": {
            "description": "Entre 3 y 7 días",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "over7d": {
            "description": "Más de 7 días",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "oldestCreatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "total",
          "under24h",
          "d1to3",
          "d3to7",
          "over7d",
          "oldestCreatedAt"
        ],
        "additionalProperties": false
      },
      "AdminModeration": {
        "id": "AdminModeration",
        "type": "object",
        "properties": {
          "days": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "leadTime": {
            "$ref": "#/components/schemas/ModerationLeadTime"
          },
          "queue": {
            "$ref": "#/components/schemas/PendingQueueAge"
          }
        },
        "required": [
          "days",
          "leadTime",
          "queue"
        ],
        "additionalProperties": false
      },
      "ErrorResponse": {
        "id": "ErrorResponse",
        "type": "object",
        "properties": {
          "error": {
            "description": "Mensaje descriptivo, apto para mostrar al usuario",
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Registro, login y sesión"
    },
    {
      "name": "Catálogo",
      "description": "Universidades, facultades, carreras y planes"
    },
    {
      "name": "Materias",
      "description": "Materias y su relación con las carreras"
    },
    {
      "name": "Recursos",
      "description": "Búsqueda y subida de material de estudio"
    },
    {
      "name": "Blogs",
      "description": "Foro de discusión por materia"
    },
    {
      "name": "Admin",
      "description": "Moderación y ABM. Requieren rol admin"
    }
  ],
  "paths": {
    "/api/v1/auth/register": {
      "post": {
        "operationId": "postApiV1AuthRegister",
        "tags": [
          "Auth"
        ],
        "summary": "Registrar un usuario",
        "description": "Los registros nuevos siempre reciben rol `user`. Límite: 5 por hora por IP.",
        "responses": {
          "201": {
            "description": "Usuario creado con su token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/PublicUser"
                    },
                    "token": {
                      "description": "JWT — mandarlo como `Authorization: Bearer <token>`",
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validación fallida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de estado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "operationId": "postApiV1AuthLogin",
        "tags": [
          "Auth"
        ],
        "summary": "Iniciar sesión",
        "description": "Rechaza con 401 a los usuarios creados vía Google, que no tienen contraseña. Límite: 10 cada 15 min por IP.",
        "responses": {
          "200": {
            "description": "Sesión iniciada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/PublicUser"
                    },
                    "token": {
                      "description": "JWT — mandarlo como `Authorization: Bearer <token>`",
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validación fallida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "operationId": "getApiV1AuthMe",
        "tags": [
          "Auth"
        ],
        "summary": "Usuario autenticado actual",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Usuario de la sesión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/PublicUser"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/google": {
      "get": {
        "operationId": "getApiV1AuthGoogle",
        "tags": [
          "Auth"
        ],
        "summary": "Iniciar el flujo OAuth de Google",
        "responses": {
          "302": {
            "description": "Redirige al consent screen de Google"
          },
          "429": {
            "description": "Rate limit excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/google/callback": {
      "get": {
        "operationId": "getApiV1AuthGoogleCallback",
        "tags": [
          "Auth"
        ],
        "summary": "Callback de Google",
        "description": "Canjea el code por un JWT propio y redirige al frontend con un código de un solo uso. Ante error redirige al inicio con `?error=...`.",
        "responses": {
          "302": {
            "description": "Redirige al frontend"
          },
          "429": {
            "description": "Rate limit excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/exchange": {
      "post": {
        "operationId": "postApiV1AuthExchange",
        "tags": [
          "Auth"
        ],
        "summary": "Canjear el código de un solo uso por un JWT",
        "description": "Cierra el flujo OAuth sin exponer el JWT en la URL.",
        "responses": {
          "200": {
            "description": "JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validación fallida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/universities": {
      "get": {
        "operationId": "getApiV1Universities",
        "tags": [
          "Catálogo"
        ],
        "summary": "Listar universidades",
        "responses": {
          "200": {
            "description": "Universidades ordenadas por nombre",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/University"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "page": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "totalPages": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "data",
                    "total",
                    "page",
                    "totalPages"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/faculties": {
      "get": {
        "operationId": "getApiV1Faculties",
        "tags": [
          "Catálogo"
        ],
        "summary": "Listar facultades",
        "responses": {
          "200": {
            "description": "Facultades, filtrables por universityId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Faculty"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "page": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "totalPages": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "data",
                    "total",
                    "page",
                    "totalPages"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/careers": {
      "get": {
        "operationId": "getApiV1Careers",
        "tags": [
          "Catálogo"
        ],
        "summary": "Listar carreras",
        "description": "Sin paginación: devuelve todas las carreras en `data`.",
        "responses": {
          "200": {
            "description": "Todas las carreras, filtrables por facultyId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Career"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/career-plans": {
      "get": {
        "operationId": "getApiV1CareerPlans",
        "tags": [
          "Catálogo"
        ],
        "summary": "Listar planes de estudio",
        "description": "Sin paginación: devuelve todos los planes en `data`.",
        "responses": {
          "200": {
            "description": "Planes, filtrables por careerId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CareerPlan"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subjects": {
      "get": {
        "operationId": "getApiV1Subjects",
        "tags": [
          "Materias"
        ],
        "summary": "Listar materias con sus carreras",
        "description": "Ordenadas por año, cuatrimestre y título. `search` es case-insensitive y sin acentos.",
        "responses": {
          "200": {
            "description": "Materias con carreras y contadores de recursos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SubjectWithCareers"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "page": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "totalPages": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "data",
                    "total",
                    "page",
                    "totalPages"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subjects/{id}": {
      "get": {
        "operationId": "getApiV1SubjectsById",
        "tags": [
          "Materias"
        ],
        "summary": "Detalle de una materia",
        "description": "A diferencia del listado, NO incluye `resourceCounts`.",
        "responses": {
          "200": {
            "description": "Materia con sus carreras",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subject": {
                      "$ref": "#/components/schemas/SubjectDetail"
                    }
                  },
                  "required": [
                    "subject"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/api/v1/resources": {
      "get": {
        "operationId": "getApiV1Resources",
        "tags": [
          "Recursos"
        ],
        "summary": "Listar recursos publicados",
        "description": "Solo devuelve `status: published`, ordenados por `publishedAt` descendente.",
        "responses": {
          "200": {
            "description": "Recursos publicados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Resource"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "page": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "totalPages": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "data",
                    "total",
                    "page",
                    "totalPages"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postApiV1Resources",
        "tags": [
          "Recursos"
        ],
        "summary": "Subir un recurso",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "multipart/form-data. Solo PDF, máximo 20 MB. Queda en `status: pending` hasta que un admin lo apruebe.",
        "responses": {
          "201": {
            "description": "Recurso creado, pendiente de moderación",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subjectId": {
                      "type": "string"
                    },
                    "title": {
                      "description": "Para resúmenes lo pone el usuario; para parcial/final se auto-genera",
                      "type": "string"
                    },
                    "type": {
                      "$ref": "#/components/schemas/ResourceType"
                    },
                    "subtype": {
                      "description": "Solo para type=parcial",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/ResourceSubtype"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "$ref": "#/components/schemas/ResourceStatus"
                    },
                    "examYear": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "examMonth": {
                      "description": "1–12",
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "examDay": {
                      "description": "1–31; requerido para type=final",
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "topic": {
                      "description": "Tema, 1–5",
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "notes": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "downloadCount": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "publishedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "fileUrl": {
                      "description": "URL pública ya resuelta. No construir URLs a mano; null si no está publicado",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "subjectId",
                    "title",
                    "type",
                    "subtype",
                    "status",
                    "examYear",
                    "examMonth",
                    "examDay",
                    "topic",
                    "notes",
                    "downloadCount",
                    "publishedAt",
                    "createdAt",
                    "fileUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validación fallida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/resources/{id}/download": {
      "get": {
        "operationId": "getApiV1ResourcesByIdDownload",
        "tags": [
          "Recursos"
        ],
        "summary": "Descargar un recurso",
        "description": "Incrementa `downloadCount` y redirige (302) al archivo. **Es la única vía que cuenta descargas**: linkear directo a `fileUrl` no cuenta nada. `fileUrl` es para *ver* el PDF (preview, iframe); esta ruta es para *bajarlo*.",
        "responses": {
          "302": {
            "description": "Redirección temporal al archivo"
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/api/v1/resources/check-duplicate": {
      "post": {
        "operationId": "postApiV1ResourcesCheckDuplicate",
        "tags": [
          "Recursos"
        ],
        "summary": "Buscar recursos similares antes de subir",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Solo aplica a parcial y final. Para parcial matchea materia + tipo + subtype + año + mes + tema; para final suma examDay.",
        "responses": {
          "200": {
            "description": "Similares encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasSimilar": {
                      "type": "boolean"
                    },
                    "similar": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DuplicateSimilar"
                      }
                    }
                  },
                  "required": [
                    "hasSimilar",
                    "similar"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validación fallida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/blogs/{subjectId}": {
      "get": {
        "operationId": "getApiV1BlogsBySubjectId",
        "tags": [
          "Blogs"
        ],
        "summary": "Blog de una materia",
        "description": "Devuelve los subtemas (con el \"general\" por defecto) y los posts del blog. Lectura pública. Posts ordenados por votos (`net_score`), con una ventana 30 días para que la paginación sea estable. Los comentarios se ordenan por votos dentro de sus hermanos.",
        "responses": {
          "200": {
            "description": "Blog con sus subtemas y posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subjectId": {
                      "type": "string"
                    },
                    "subtopics": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogSubtopic"
                      }
                    },
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogPost"
                      }
                    }
                  },
                  "required": [
                    "subjectId",
                    "subtopics",
                    "posts"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "subjectId",
            "required": true
          }
        ]
      }
    },
    "/api/v1/blogs/{subjectId}/posts": {
      "post": {
        "operationId": "postApiV1BlogsBySubjectIdPosts",
        "tags": [
          "Blogs"
        ],
        "summary": "Crear un post en el blog",
        "description": "Requiere autenticación. Crea un post en el subtema elegido con autoría visible o anónima. Multipart: `subtopicId`, `authority`, `body` (texto) y hasta 6 imágenes (jpeg/png/webp). El texto pasa por la blacklist y las imágenes se re-encodifican sin metadata EXIF.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Post creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subtopicId": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "authority": {
                      "type": "string",
                      "enum": [
                        "visible",
                        "anonymous"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "published",
                        "deleted"
                      ]
                    },
                    "netScore": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "author": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/BlogAuthor"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogPostImage"
                      }
                    },
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogComment"
                      }
                    },
                    "mine": {
                      "description": "true si el token actual es el autor",
                      "type": "boolean"
                    },
                    "myVote": {
                      "description": "voto del token actual: 1, -1 o 0",
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "id",
                    "subtopicId",
                    "body",
                    "authority",
                    "status",
                    "netScore",
                    "createdAt",
                    "author",
                    "images",
                    "comments",
                    "mine",
                    "myVote"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validación fallida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "subjectId",
            "required": true
          }
        ]
      }
    },
    "/api/v1/blogs/{subjectId}/posts/{postId}/vote": {
      "post": {
        "operationId": "postApiV1BlogsBySubjectIdPostsByPostIdVote",
        "tags": [
          "Blogs"
        ],
        "summary": "Votar un post",
        "description": "Requiere autenticación. Upvote (`value: 1`) o downvote (`value: -1`). Votar de nuevo con el mismo valor quita el voto; con el opuesto lo cambia. El autor no puede votar su propio post.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "netScore y voto resultante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "netScore": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "myVote": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "netScore",
                    "myVote"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validación fallida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "description": "Mensaje descriptivo, apto para mostrar al usuario",
[...]
